/* Quitar el subrayado y color de los enlaces de NavLink */
.nav-link {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del contenedor o ajusta como desees */
  }
  
  /* Si quieres personalizar el estilo cuando el enlace está activo */
  .nav-link.active {
    color: inherit; /* O el color que prefieras */
    font-weight: normal; /* O cualquier estilo que quieras aplicar al enlace activo */
  }
  